{% extends "layout.html" %}
{% block content %}

<div class=container>
<div class= "about-section">
  <h1> About Us </h1>
  <span class="border"></span>
<div class = "ps">
  <a href="#p1"><img src = "static/images/icon3.jpg" alt=""></a>
  <a href="#p2"><img src = "static/images/icon2.jpg" alt=""></a>
  <a href="#p3"><img src = "static/images/icon1.jpg" alt=""></a>
</div>

<div class="section" id="p1">
  <span class="name"> Direct Decision</span>
  <span class="border"></span>
  <p> Direct Decision is an automated tool that enables organisations to make instant decisions without the involvement of formalities and traditional approaches.</p>
</div>

<div class="section" id="p2">
  <span class="name"> Sentiment Anlaysis</span>
  <span class="border"></span>
  <p> Sentiment analysis is contextual mining of text which identifies and extracts subjective information in source material and helping a business to understand the social sentiment in order to enhance business performance.</p>
</div>
</div>
{% endblock content %}
